@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  font-family: 'Press Start 2P', cursive;
  background-color: #d9e9e9;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 20px;
  grid-auto-columns: minmax(100px, auto);
}
.grid-item{
  border:1px solid rgb(2,0,36);
  border-radius: 10px;
  font-size: 1rem;
}
.grid-item >img{
  cursor: pointer;
}
.heading>h2{
  text-align: center;
  font-size: 1.5rem;
}

.heading{
padding: 10px 0px;
}
.footer{
  padding: 10px 0px;
}
.footer>h3{
  text-align: center;
  font-size: 0.7rem;
}
.footer>p{
  text-align: center;
  font-size: 0.5rem;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      text-align: center;
      grid-gap: 20px;
      grid-auto-columns: minmax(100px, auto);
      grid-auto-rows: minmax(300px,auto);
    }
    .grid-item{
      border:1px solid rgb(2,0,36);
      border-radius: 10px;
      font-size: 1.8rem;
    }
    .grid-item>img{
      width: 300px;
      height: 300px;
    }
    .heading>h2{
      text-align: center;
      font-size: 2.5rem;
    }
}

::selection{
  background: pink;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9e9e9; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00e2e2; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #08bbbb;  
}